* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

button {
  cursor: pointer;
}
